<a href="https://colab.research.google.com/github/ssgbeom1/pa03/blob/main/CH4/ch4_code01_PA03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch4_code01-PA03.ipynb
## PA03
- 파이썬 함수
    - 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 출력
        - 반복되는 부분을 함수로 전환.
        - 코딩을 모듈화
- 매개변수와 인수
- 입력값과 결괏값
    - return
    - 여러 개의 입력을 처리하는 함수(*args)
    - 키워드 파라미터 (kwargs)
    - 매개변수에 초깃값 미리 설정
- lambda 함수 정의

## 함수란 무엇인가?
---
- 입력값을 가지고 어떤 일을 수행한 다음에 그결과물을 내어놓는 것

## 함수를 사용하는 이유는 무엇일까?
---
- 반복되는 부분을 함수로 전환
- 코딩을 모듈화

## 파이썬 함수의 구조
---
- 매개변수와 반환값이 존재 하는 함수
- 매개 변수가 없는 함수
- 반환 값이 없는 함수
- 매개변수, 반환 값 모두 없는 함수

In [ ]:
# 기본 함수 구조
"""
def 함수명(매개변수):
    <수행할 문장1>   
    <수행할 문장2> 
    #return 반환값
    ...
"""

---
##### add 함수 만들고 add 함수 호출 해보기

In [ ]:
def add(a):
    print(a)

In [ ]:
add(100) # add(a = 100)
add("PA03") # add(a = "PA03")

100
PA03

---

- add() 함수를 정의

In [ ]:
def add(a, b): 
    return a + b

- add() 함수 호출

In [ ]:

# add() 함수를 사용
a=3
b=4
c = add(a,b) #파라미터 값을 지정한뒤 호출
print(c)
d = add(3,4) #파라미터 인수를 직접 할당시켜서 호출
print(d)

x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

7
7
[1, 2, 3, 4, 5, 6]

### 함수를 호출해서 사용하면 더욱 편리
- 아래 코드 처럼 두개의 인자를 받고 더하는 add 함수를 만들어 놓고 더하기를 해야할 때 호출 하면 매 코드 마다 더하기 연산자를 적을 필요성가 없어짐 
---

In [ ]:
z = add(x,y)
print(z)

[1, 2, 3, 4, 5, 6]

In [ ]:
w = add("Hello", "Python!")
print(w)

HelloPython!

---
### 매개변수와 인수
- 매개변수(파라미터)는 함수에 입력으로 전달된 값을 받는 변수
- 인수는 함수를 호출할 때 전달하는 입력값을 의미

In [ ]:
# add() 함수에서의 매개변수와 인수
"""
def add(a, b):  # a, b는 매개변수
    return a+b
print(add(3, 4))  # 3, 4는 인수
"""

In [ ]:
print(add(a,b))
print(add(10,50))
#add 함수의 a, b 파라미터에 각각 10과 50이라는 인수를 전달한다

7
60

- 다른 언어와 달리 파이썬은 인자를 생략할 수도 있고, 인자의 순서를 마음대로 변경하여 지정할 수 있다
- 어떤인자를 받을지 이름과 갯수을 정하지 않고서도 함수를 정의 할 수 있다
---

> 매개변수와 반환값이 존재 하는 함수
---

In [ ]:

"""
def 함수이름(매개변수):
    <수행할 문장>
    ...
    return 결과값
"""

def add2(a, b): 
    result = a + b 
    return result


# 입력값과 결괏값이 있는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
a = add2(3, 4)
print(a)

7

> 매개 변수가 없는 함수
---

In [ ]:
def say(): 
    return 'Hi'


# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say()
print(a)

Hi

> 반환 값이 없는 함수
---

In [ ]:
def add3(a, b): 
    print("{}, {}의 합은 {}입니다.".format(a, b, a+b)) 
#함수를 호출하면 출력하고 종료

# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4)

a = add3(3, 4)
print(a) # 반환값이 없기 때문에 None가 출력된다.

3, 4의 합은 7입니다.
3, 4의 합은 7입니다.
None

>매개변수, 반환 값 모두 없는 함수
---

In [ ]:
def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say()

'Hi'

> 매개변수의 값을 지정하여 호출하기
---

In [ ]:
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # a에 3, b에 7을 전달
#result라는 변수에 a=3,b=7이라는 매개변수를 지정한 함수 add4의 리턴 값을 저장.
print(result)
# 매개변수의 순서에 상관없이 사용
result2 = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result2)

10
8

In [ ]:
result3 = add4(a=3, 7)
print(result3)
# 파라미터를 지정할 때 하나만 지정하지말고 모두 지정을 해줘야한다

SyntaxError: ignored

In [ ]:
result3 = add4(a=3, b = 7)
print(result3)

10

## 가변 인수 리스트 (*args)
---
- 어떤 함수를 설계할 때, 몇 개의 인수를 받게 될지 모를때 사용
-가변으로 받아야 하는 인수를 배열이나 리스트로 선언 후 이를 넘긴다

In [ ]:
"""
def 함수이름(*매개변수): 
    <수행할 문장>
    ...
"""

def add_many(*args): #여러개의 매개변수가 지정될수 있다는 의미
    result = 0 
    for i in args: 
        result = result + i 
    return result

In [ ]:
add_many(1,2,3)

6

In [ ]:
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [ ]:
result = add_many(1,2,3,4,5,6,7,8,9,10) #함수에 출력부분이 없기 때문에 print를 써서 출력을 해줘야 함.
print(result)

55

In [ ]:
def function(a, *args):
    print(a, args)

function(1)
function(1,2)
function(1,2,3,4,5)
function(1,2,3,4,5,'a','b',[6,7,8],{'a':3, 'b':8})
#함수를 정의할 때, 인수 리스트에 반드시 넘겨야하는 고정 인수들을 나열하고, 나머지는 튜플 형식으로 한꺼번에 받는다. 
# 첫 번째 인수 a는 항상 넘겨준대로 받고, 두 번째 인자부터는 인자들을 묶은 튜플 형식으로 받는다 =>넘겨주는 인자의 데이터 형이 무엇이든 상관없다. 
#일반적으로 function에서는 넘겨 받은 args의 길이를 카운트한 후 그에 맞는 동작을 하면 된다.

1 ()
1 (2,)
1 (2, 3, 4, 5)
1 (2, 3, 4, 5, 'a', 'b', [6, 7, 8], {'a': 3, 'b': 8})

In [ ]:

def add_mul(choice, *args):
    if choice == "add":  #만약 choice라는 매개변수에 "add" 가 들어온다면
        result = 0       #result = 0
        for i in args:  #args 매개변수에 받은 값을 i에 전달
            result = result + i  #result에 i 값 더함
    elif choice == "mul":  #만약 choice라는 매개변수에 "mul"이 들어온다면
        result = 1         # result  = 1
        for i in args:     #args 매개변수에 받은 값을  i에 전달
            result = result * i #result에 i 값 곱함
    return result 

# add
result = add_mul('add', 1,2,3,4,5)
print(result)
# multiply
result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

## 정의되지 않은 키워드 인수 처리(**kwargs)
---
- 정의되어 있지 않은 키워드 인수를 받으려면 함수를 정의할 때 마지막에 **kw 형식으로 작성
- **kw는 {키:값}형태의 사전형식으로 전달되며, 키는 키워드(변수명)이 되고, 값은 키워드 인수로 전달된 값이다

In [ ]:
def print_kwargs(**kwargs):
    print(kwargs)


# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수
#
print_kwargs(a=1)

print_kwargs(name='foo', age=3)

#
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
# kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 
# 그 딕셔너리에 저장된다.

{'a': 1}
{'name': 'foo', 'age': 3}

In [ ]:
def addAll(width, height, **kw):
    all = width + height
    print(width, height, kw)

addAll(10, 20, size=15, depth=35)

10 20 {'size': 15, 'depth': 35}

- 함수의 가인수로 정의된 width와 height외에는 kw에 사전형태로 전달됨.
- 주의할 점은 사전 키워드 인수는 함수의 가인수 목록의 제일 끝에 작성되어야 한다.
- 가변 인수 리스트보다도 뒤에 작성되어야 한다
---

### 함수의 결과값은 언제나 하나

In [ ]:
def add_and_mul(a,b): 
    return a+b, a*b


# add_and_mul() 사용 1.
result = add_and_mul(3,4) 
#리턴의 결과값을 여러개로 지정하더라도 모두 튜플 형식으로 묶여서 출력된다.
print(result)

함수의 결괏값은 언제나 하나
(7, 12)

In [ ]:
# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)
# result1 = 7 , result2 = 12  
#리턴값이 두개일때 각각의 리턴값을 받을 수 있다.
print(result1)
print(result2)

(7, 12)

### 잘못된 함수 사용
---

In [45]:
def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!!


result = add_and_mul2(2, 3)
print(result)
#return 은 함수의 종료를 의미 하기 때문

잘못된 함수
5

### return의 용도
---

In [47]:
def say_nick(nick): 
    if nick == "바보":  # 파라미터 nick이 "바보"일 경우 return을 만나 함수 종료
        return 
    print("나의 별명은 {}입니다.".format(nick)) #파라미터 nick이 "바보"가 아닐경우 출력


say_nick("홍길동")
say_nick("바보")

나의 별명은 홍길동입니다.

### 매개변수에 초깃값 미리 설정하기
---

In [48]:
def say_myself(name, old, man=True): #boolean으로 true이면 man이되도록
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
    

say_myself("박응용", 27) #True로 처리되어있기 때문에 값이 없더라도 가능
say_myself("박응용", 27, True)

say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

### 오류(키워드 형태의 매개변수를 맨뒤에 위치 시키지 않았을 때.)
---

In [ ]:
def say_myself2(name, man=True, old): #키워드 형태로 지정한 매개변수는 무조건 맨 뒤에 위치해야 한다.
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

# 초깃값을 설정해 놓은 매개변수 뒤에 
# 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.
# 키워드형식의 매개변수는 항상 뒤에 지정.

In [51]:
def say_myself2(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

say_myself2("ssgbeom1",23)

나의 이름은 ssgbeom1 입니다.
나이는 23살입니다.
남자입니다.

### 함수 안에서 선언한 변수의 효력 범위
---
- scope of a variable

In [53]:
# 전역변수
# 지역 변수, 자동 변수


a = 1   #함수 밖에 지정되었기 때문에 전역 변수
def vartest(a): # 지역변수(매개변수) 함수내부에서만 작동
    a = a +1
#함수밖에 있는 변수 a 와 함수내부에 있는 변수 a 는 다른것이다
vartest(a) # 전역변수 a 가 출력된다 함수 내부의 a 는 2가 된다
print(a)

1

> 함수 내부의 변수 a 를 출력하는 방법
- 함수 내부에서 출력해준다

In [57]:
a = 1
def vartest(a): 
    a = a +1
    print("지역변수 a = {} ".format(a))

vartest(a) 
print("전역변수 a = {}".format(a))

지역변수 a = 2
전역변수 a = 1

### 오류 (범위가 잘못 지정되었을 때.)
---

In [ ]:

# vartest_error.py
def vartest2(zz):
    zz = zz + 1

vartest2(3)
# print(zz)  함수 내부에서 사용되는 zz 변수는 함수 내부에서만 이용되고 함수밖에서 따로 zz 라는 변수가 설정되어있지않아 오류가 난다.

### 함수 안에서 함수 밖의 변수를 변경하는 방법

>return 사용하기

In [61]:

a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) 
print(a)

함수 안에서 함수 밖의 변수를 변경하는 방법
2

>global 명령어 사용하기

In [62]:
#가능하면 사용하지 않는게 좋다.
a = 1 
def vartest4(): 
    global a  #전역변수를 함수내부에서 사용하겠다.
    a = a+1

vartest4() 
print(a)

2

## lambda(람다) 함수 정의
---
- 이름 없는 함수를 정의
- 사용법 => lambda 인자 : 표현식
- lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
- 코드가 간결해지고 메모리가 절약된다.

In [80]:
add = lambda a, b: a+b #add함수 = (람다) 받을 파라미터: 리턴값

result = add(3, 4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

7

>lambda함수의 응용

In [64]:

################################
# lambda 함수의 응용
#
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])

# So cool!!!

['N-1000', 'T-2000', 'K-3000', 'X-5000']

In [ ]:
# vartest.py
a = 1
def vartest(a):
    a = a +1
    # print(a)

vartest(a)
print(a)

1

In [70]:
# function_test.py

# scope_test()
x = 5


def scope_test():
    print(x)
    print(x+5)
    #x += 5


scope_test()

#*args : multiple parameters

5
10

In [66]:

def args_test(*args):
    print(type(args))
    print(args)
    for arg in args:
        print(arg)

args_test(1, 2, 3, 4)
args_test(list(range(4)))

# **kawargs : keyword arguments

<class 'tuple'>
(1, 2, 3, 4)
1
2
3
4
<class 'tuple'>
([0, 1, 2, 3],)
[0, 1, 2, 3]

In [65]:


def kwarg_test(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for item in kwargs.items():
        print(item)


kwarg_test(a=1, b='hi')
kwarg_test(x=[1,2,3], y='Hello')

<class 'dict'>
{'a': 1, 'b': 'hi'}
('a', 1)
('b', 'hi')
<class 'dict'>
{'x': [1, 2, 3], 'y': 'Hello'}
('x', [1, 2, 3])
('y', 'Hello')

## 도전 코딩
- A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

> 함수를 사용하여 A 학급의 평균 점수를 구해 보자.
>> 함수명: average_class(A)

In [79]:
def average_class(A):
    total = 0
    for i in A:
        total += i
    return total/len(A)

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
print("학급의 평균 점수는 {}점 입니다".format(round(average_class(A))))

학급의 평균 점수는 79점 입니다