<a href="https://colab.research.google.com/github/ssgbeom1/pa03/blob/main/CH3/ch3_code02_PA03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch3_code02-PA03.ipynb
## PA03
---
- 반복문: for
    - for ~ in ***:
    - range()
---

- **리스트 내포(List comprehension)**

***
- **for 문과 iterator**
    - for ~ range()
    - for ~ enumerate()
    - for ~ zip()

## for 문은 어떻게 사용?"
> 반복해서 문장을 수행해야 할 경우 for문을 사용한다.

#### for문의 기본 구조

In [ ]:
'''
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
'''

## 예제를 통해 for문 이해하기

> 전형적인 for문

In [ ]:
test_list = ['one', 'two', 'three'] 
for i in test_list:
    print(i)

one
two
three

In [ ]:
my_list = [10,20,30,40,50]
for item in my_list:
    print(item)
    print(item * 2)
    print("----------")

10
20
----------
20
40
----------
30
60
----------
40
80
----------
50
100
----------

> 다양한 for문의 사용

In [ ]:
a = [(1,2), (3,4), (5,6)]

for (first, last) in a:
    print(first + last)

3
7
11

## for문의 응용
---
> "총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 
 합격이고 그렇지 않으면 불합격이다. 
 합격인지 불합격인지 결과를 보여 주시오."

In [ ]:
# marks1.py 
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("{}점을 받은 {}번 학생은 합격입니다.".format(mark, number))
    else: 
        print("{}점을 받은 {}번 학생은 {}점 부족으로 불합격입니다.".format(mark, number, 60 - mark))
    

###################################
# cmd에서 실행하시오.
# python marks1.py
#run marks1.py
###################################

90점을 받은 1번 학생은 합격입니다.
25점을 받은 2번 학생은 35점 부족으로 불합격입니다.
67점을 받은 3번 학생은 합격입니다.
45점을 받은 4번 학생은 15점 부족으로 불합격입니다.
80점을 받은 5번 학생은 합격입니다.

In [ ]:
run marks1.py

90점을 받은 1번 학생은 합격입니다.
25점을 받은 2번 학생은 35점 부족으로 불합격입니다.
67점을 받은 3번 학생은 합격입니다.
45점을 받은 4번 학생은 15점 부족으로 불합격입니다.
80점을 받은 5번 학생은 합격입니다.

## for문과 continue
---
- for문 안의 문장을 수행하는 도중에 continue문을 만나면 for문의 처음으로 돌아가게 된다.
>앞에서 for문 응용 예제를 그대로 사용해서 60점 이상인 사람에게는 
 축하 메시지를 보내고 나머지 사람에게는 아무 메시지도 전하지 않는 
프로그램을 작성.

In [ ]:
# marks2.py 
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue #60점 미만인 학생은 if문에 성립해서 continue문을 만다 for 조건문으로 이동
    print("{}번 학생 축하합니다. 합격입니다. ".format(number))



###################################
# cmd에서 실행하시오.
# python marks2.py
# run marks2.py
###################################

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
run marks2.py

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

## range()
---
- range(start, end)
- range(start, end, step)
- range(end)

#### range(end)
- 0부터 end 숫자의 -1 
- 마지막 숫자는 포함되지 않는다.(range 함수의 결과를 바로 확인하기 위해 리스트(list)로 변환.

In [ ]:
a = range(10)
a
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### range(start, end)
- 인자를 2개 전달하는 경우 첫번째 인자는 시작하는 숫자가 되고 두번째 인자는 마지막 숫자가 된다.

In [ ]:
a = range(5) # range(0, 5)와 같다.
print(a)
list(a)

range(0, 5)

[0, 1, 2, 3, 4]

#### range(start, end, step)
- 인자를 3개 전달하는 경우 첫번째 인자는 시작하는 숫자, 두번째 인자는 마지막 숫자, 세번째 인자인 step은 숫자의 간격을 나타낸다.
- step는 음수로도 지정할 수 있다.

In [ ]:
a = range(0, 10, 2) #0부터 9 까지 2씩 점프
list(a)

[0, 2, 4, 6, 8]

##### 음수 step

In [ ]:
a = range(20, 0 , -2)
list(a)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

---

#### range 함수를 이용한 코드

In [ ]:
# 1부터 10까지 더하는 코드
add = 0 
for i in range(1, 11): 
    add = add + i

print(add)

55

#### len 함수
- 문자열의 문자 개수를 반환
-  리스트의 크기를 알려줌

In [ ]:
a = range(10) # 0~9
b = [1, 2, 3]
len(a),len(b)

(10, 3)

In [ ]:
#marks3.py
marks = [90, 25, 67, 45, 80]
# number = 0
for number in range(len(marks)): #range(marks 리스트의 크기(5)) , range(marks-1) 
    if marks[number] < 60:   #mark[인덱스 번호]
        continue
    print("{}번 학생 축하합니다. 합격입니다.".format(number+1))


###################################
# cmd에서 실행하시오.
# python marks3.py
# run marks3.py
###################################

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
run marks3.py

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

## 중첩 for문
- 중첩 for문과 range를 이용한 구구단
- for와 range 함수를 사용하면 소스 코드 단 4줄만으로 구구단을 출력

In [ ]:
# 2단부터 9단까지 구구단 결과값을 출력하는 코드

for i in range(2,10):         # ①번 for문 (i-loop)
     for j in range(1, 10):   # ②번 for문 (j-loop)
         print(i*j, end=" ")  #end를 하게 되면 줄을 바꾸지 않고 출력
     print('')   # 줄 바꿈

for와 range를 이용한 구구단
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:


# 아래와 같이 출력하도록 코드를 변경해보시오.
#############################################################
# 2 X 1 = 2 2 X 2 = 4 2 X 3 = 6 2 X 4 = 8 2 X 5 = 10 2 X 6 = 12 2 X 7 = 14 2 X 8 = 16 2 X 9 = 18
# 3 X 1 = 3 3 X 2 = 6 3 X 3 = 9 3 X 4 = 12 3 X 5 = 15 3 X 6 = 18 3 X 7 = 21 3 X 8 = 24 3 X 9 = 27
# 4 X 1 = 4 4 X 2 = 8 4 X 3 = 12 4 X 4 = 16 4 X 5 = 20 4 X 6 = 24 4 X 7 = 28 4 X 8 = 32 4 X 9 = 36
# 5 X 1 = 5 5 X 2 = 10 5 X 3 = 15 5 X 4 = 20 5 X 5 = 25 5 X 6 = 30 5 X 7 = 35 5 X 8 = 40 5 X 9 = 45
# 6 X 1 = 6 6 X 2 = 12 6 X 3 = 18 6 X 4 = 24 6 X 5 = 30 6 X 6 = 36 6 X 7 = 42 6 X 8 = 48 6 X 9 = 54
# 7 X 1 = 7 7 X 2 = 14 7 X 3 = 21 7 X 4 = 28 7 X 5 = 35 7 X 6 = 42 7 X 7 = 49 7 X 8 = 56 7 X 9 = 63
# 8 X 1 = 8 8 X 2 = 16 8 X 3 = 24 8 X 4 = 32 8 X 5 = 40 8 X 6 = 48 8 X 7 = 56 8 X 8 = 64 8 X 9 = 72
# 9 X 1 = 9 9 X 2 = 18 9 X 3 = 27 9 X 4 = 36 9 X 5 = 45 9 X 6 = 54 9 X 7 = 63 9 X 8 = 72 9 X 9 = 81
#############################################################
# 
for i in range(2,10):        # ①번 for문
     for j in range(1, 10):   # ②번 for문
         print(i,"단",':', i, "X", j, "=", i*j, end="  ") 
     print('')

2 단 : 2 X 1 = 2  2 단 : 2 X 2 = 4  2 단 : 2 X 3 = 6  2 단 : 2 X 4 = 8  2 단 : 2 X 5 = 10  2 단 : 2 X 6 = 12  2 단 : 2 X 7 = 14  2 단 : 2 X 8 = 16  2 단 : 2 X 9 = 18
3 단 : 3 X 1 = 3  3 단 : 3 X 2 = 6  3 단 : 3 X 3 = 9  3 단 : 3 X 4 = 12  3 단 : 3 X 5 = 15  3 단 : 3 X 6 = 18  3 단 : 3 X 7 = 21  3 단 : 3 X 8 = 24  3 단 : 3 X 9 = 27
4 단 : 4 X 1 = 4  4 단 : 4 X 2 = 8  4 단 : 4 X 3 = 12  4 단 : 4 X 4 = 16  4 단 : 4 X 5 = 20  4 단 : 4 X 6 = 24  4 단 : 4 X 7 = 28  4 단 : 4 X 8 = 32  4 단 : 4 X 9 = 36
5 단 : 5 X 1 = 5  5 단 : 5 X 2 = 10  5 단 : 5 X 3 = 15  5 단 : 5 X 4 = 20  5 단 : 5 X 5 = 25  5 단 : 5 X 6 = 30  5 단 : 5 X 7 = 35  5 단 : 5 X 8 = 40  5 단 : 5 X 9 = 45
6 단 : 6 X 1 = 6  6 단 : 6 X 2 = 12  6 단 : 6 X 3 = 18  6 단 : 6 X 4 = 24  6 단 : 6 X 5 = 30  6 단 : 6 X 6 = 36  6 단 : 6 X 7 = 42  6 단 : 6 X 8 = 48  6 단 : 6 X 9 = 54
7 단 : 7 X 1 = 7  7 단 : 7 X 2 = 14  7 단 : 7 X 3 = 21  7 단 : 7 X 4 = 28  7 단 : 7 X 5 = 35  7 단 : 7 X 6 = 42  7 단 : 7 X 7 = 49  7 단 : 7 X 8 = 56  7 단 : 7 X 9 = 63
8 단 : 8 X 1 = 8  8 단 : 8 X 2 = 16  8 단 : 8 X 3 = 24  8 단 : 8 X 4 = 32  8 단 : 8 X 5 = 40  8 단 : 8 X 6 = 48  8 단 : 8 X 7 = 56  8 단 : 8 X 8 = 64  8 단 : 8 X 9 = 72
9 단 : 9 X 1 = 9  9 단 : 9 X 2 = 18  9 단 : 9 X 3 = 27  9 단 : 9 X 4 = 36  9 단 : 9 X 5 = 45  9 단 : 9 X 6 = 54  9 단 : 9 X 7 = 63  9 단 : 9 X 8 = 72  9 단 : 9 X 9 = 81

## 리스트 내포(List comprehension)
> 하는이유?
- 리스트 안에 for문을 포함하는 것
- 코드가 간결해짐

---
> 사용 법
- 리스트 명 = [표현식(최종 결과)  for 변수 in 반복 가능한 대상] #기본형
- 리스트 명 = [표현식(최종 결과)  for 변수 in 반복 가능한 대상 if 조건문] #if 사용형
- 리스트 명 = [표현식(최종 결과)  for 변수1 in 반복
가능한 대상1 for 변수2 in 반복 가능한 대상 2]  # 중첩 for문 사용형

In [ ]:
a = [1,2,3,4]
result = []  # 리스트 초기화
for num in a: #a의 값을 num으로
    result.append(num*3)  #num의 값에 3을 곱한 값을 result 리스트에 추가(.append).

print(result)

[3, 6, 9, 12]

In [ ]:
result

[3, 6, 9, 12]

In [ ]:
# 리스트 내포
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:

#
#############################################
print("리스트 내포의 일반 문법")
#
# [표현식 for 항목 in 반복가능객체 if 조건문]
# -----------------------------------------
#
# 일반화
# [표현식 for 항목1 in 반복가능객체1 if 조건문1
#         for 항목2 in 반복가능객체2 if 조건문2
#         ...
#         for 항목n in 반복가능객체n if 조건문n]
##############################################
#
# 예1. 구구단의 모든 결과를 리스트에 담는 코드
#
result = [x*y for x in range(2,10) for y in range(1,10)]

In [ ]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
len(result)

72

In [ ]:

#
print("9 이하의 정수 중 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드")
#
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]  # -> [1, 4, 3, 8, 5, 12, 7, 16, 9]
result = []
for idx in range(len(x)):
    if x[idx] % 2 == 0:  #idx가 2로 나눠지면(2의 배수일 때) idx값에 2를 곱한값을 result 리스트에 저장
        result.append(x[idx] * 2)
    else:                #idx가 2로 나눠지지 않을때(홀수일 때) idx값을 result 리스트에 저장
        result.append(x[idx])
print(result)
#
print("짝수만 추출하여 2배로 만든 리스트 구성")
print([element * 2 for element in x if element % 2 == 0]) # [element라는 변수에  2를 곱해라,for element 에 x의 리스트 원소를 넣고, if element를 2로 나눈 나머지가 0일 경우]
print("그러면 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드는?")
[(element * 2 if element % 2 == 0 else element) for element in x] #뒤에서부터 해석 [for element에 x의 리스트 원소를 넣어라(element에 2를 곱해라, if element를 2로나눈 나머지가 0일때, else 아니면 element에 바로넣어라) ]

9 이하의 정수 중 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드
[1, 4, 3, 8, 5, 12, 7, 16, 9]
짝수만 추출하여 2배로 만든 리스트 구성
[4, 8, 12, 16]
그러면 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드는?

[1, 4, 3, 8, 5, 12, 7, 16, 9]

In [ ]:
x = [1, 2, 3, 4]
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8]

---

## for 문과 iterator
- range()
- enumerate()
- zip()

## range()를 이용한 출력

In [ ]:
# ch3_04_for_iterates.py
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
#
print("과목명 출력")
for subject in subjects:
    print(subject)
print("____________________________")
#
print("과목 점수 출력")
for score in scores:
    print(score)

print("____________________________")
for index in range(len(subjects)):
    print(subjects[index], scores[index])

과목명 출력
python
english
math
science
____________________________
과목 점수 출력
88
77
66
95
____________________________
python 88
english 77
math 66
science 95

## enumerate()를 이용한 출력
- 반복문 사용 시 몇 번째 반복문인지 확인이 필요할 수 있음, 이때 사용.
- 인덱스 번호와 컬렉션의 원소를 tuple형태로 반환.

In [ ]:
# 인덱스 번호와 과목 출력
for position, subject in enumerate(subjects):
    print(position,subject)

0 python
1 english
2 math
3 science

In [ ]:
# 과목만 출력
for position, subject in enumerate(subjects):
    print(subjects[position])

python
english
math
science

In [ ]:
# 도전 [DIY]

print("enumerate()를 이용하여 점수를 출력해보시오.")
for position, score in enumerate(scores):
    print(scores[position])

enumerate()를 이용하여 점수를 출력해보시오.
88
77
66
95

## zip()을 이용한 출력
- 두 그룹의 데이터를 서로 엮어준다.
- 가변 인자를 받기 때문에 2개 이상의 인자를 넘겨서 병렬 처리를 할 수 있다.
- (주의할 점)가장 짧은 인자를 기준으로 데이터가 엮이고, 나머지는 버려지기 때문에 길이가 다를 때는 주의해야함.

In [ ]:
>>> for pair in zip(subjects, scores): #for subjects, scores in zip(subjects, scores) 를 하면 괄호가 안생김
...     print(pair)

('python', 88)
('english', 77)
('math', 66)
('science', 95)

## for 문과 itrator의 응용: 복합 문자열 리스트
---

In [ ]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

> range()함수 이용하여 과목과 점수 출력

In [ ]:
# Method-1
for position in range(len(subjects)):
    subject = subjects[position]
    score = scores[position]
    print(subject, score)

python 88
english 77
math 66
science 95

> enumerate()함수 이용하여 과목과 점수 출력

In [ ]:
# Method-2
for position, subject in enumerate(subjects):
    score = scores[position]
    print(subject, score)

python 88
english 77
math 66
science 95

>zip()함수 이용하여 과목과 점수 출력

In [ ]:
print(zip(subjects, scores))
#출력값 = (데이터type at 주소)
list(zip(subjects, scores))
# 리스트에 담았기 때문에 항목들을 출력

<zip object at 0x7fc1f0357550>

[('python', 88), ('english', 77), ('math', 66), ('science', 95)]

In [ ]:
# Method-3
for pair1 in zip(subjects, scores):
    print(pair1)

('python', 88)
('english', 77)
('math', 66)
('science', 95)

In [ ]:
# 응용 코드 : 평균 성적을 구하시오.
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

average = 0
total = 0
for subject, score in zip(subjects, scores):
    total += score 
    print(subject, score)

print("평균 점수 = {}".format(total/len(subjects))) #총점수 나누기 과목의 개수(4)

# So Cool!

python 88
english 77
math 66
science 95
평균 점수 = 81.5